@model IEnumerable<Sena.Business.DTOs.clientes.ClienteDetalleGestionarDto>
@section Styles{

}

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <div class="container-fluid">
        <div class="table-responsive">
            <div>
                <br />
                <h2><b>@ViewBag.Titulo</b></h2>
            </div>

            <div>
                <a onclick="mostrarModal('@Url.Action("Crear","Clientes",null,Context.Request.Scheme)','Crear cliente')" class="btn btn-success">Crear Cliente </a>
            </div>
            <br />
            <table class="table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoDocumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Documento)
                        </th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td>
                                @cliente.Nombres
                            </td>
                            <td>
                                @cliente.Email
                            </td>
                            <td>
                                @cliente.TipoDocumento
                            </td>
                            <td>
                                @cliente.Documento
                            </td>
                            <td>
                                @if (cliente.Estado.Equals("Activo"))
                                {

                                    <span class="badge badge-primary">Activo</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Deshabilitado</span>
                                }

                            </td>
                            <td>
                                <a class="text-primary" href="javascript:mostrarModal('@Url.Action("Editar","Clientes",new {id=cliente.ClienteId},Context.Request.Scheme)','Editar cliente')"><i title="Editar" class="fas fa-edit"></i></a> |
                                <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Clientes",new{id=cliente.ClienteId},Context.Request.Scheme)','Detalle del cliente')"><i title="Detalle del cliente" class="fas fa-search"></i></a> |


                                @if (cliente.Estado.Equals("Activo"))
                                {
                                    <a class="text-danger" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Clientes",new{id=cliente.ClienteId},Context.Request.Scheme)')"><i title="Deshabilitar cliente" class="fas fa-user-slash"></i></a>

                                }
                                else
                                {
                                    <a class="text-danger" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Clientes",new{id=cliente.ClienteId},Context.Request.Scheme)')"><i title="Habilitar cliente" class="fas fa-user-check"></i></a>

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>

    <script src="~/js/tabla.js"></script>
    <script>
        @if(TempData["Accion"]!=null && TempData["Accion"].ToString().Equals("Guardar"))
        {
            <text>
        alertify.set('notifier', 'position', 'top-right');
        alertify.success('@TempData["Mensaje"]');
            
            </text>
        }
    </script>

}


